%section#inspiration
  %h2 <span>Inspiration</span>
  %p A special thanks to Mike Clark and Ara Howard for inspiring this project. Mike Clark wrote an excellent blog post about learning Ruby through unit testing. This sparked an idea that has taken a bit to solidify, that of bringing new rubyists into the community through testing. Ara Howard then gave us the idea for the Koans in his ruby quiz entry on Meta Koans (a must for any rubyist wanting to improve their skills). Also, "The Little Lisper" taught us all the value of the short questions/simple answers style of learning.
  %p 
    %a{:href => 'https://pragmaticstudio.com/blog/2005/03/18/ruby-learning-test-1-are-you-there-world', :target => '_blank'}
      Mike Clark's post
      %span https://pragmaticstudio.com/blog/2005/03/18/ruby-learning-test-1-are-you-there-world
  %p 
    %a{:href => 'http://rubyquiz.com/quiz67.html', :target => '_blank'}
      Meta Koans
      %span rubyquiz.com/quiz67.html
  %p
    %a{:href => 'http://amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632', :target => '_blank'}
      The Little Lisper
      %span amazon.com/Little-LISPer-Third-Daniel-Friedman/dp/0023397632
  %p
    Coda - the Ruby Koans were principally the work of (
    %a{:href => 'https://en.wikipedia.org/wiki/Jim_Weirich', :target => '_blank'} Jim Weirich
    ) while working at EdgeCase. Jim was an incredible influence in the Ruby community and beyond. And as good as he was as a developer, he was an even better human being. Jim sadly passed away in 2014. We all still miss him terribly and maintain this site in his honor.