!!! 5
%html
  %head
    %title Learn Ruby with the EdgeCase Ruby Koans
    %meta{ :name => 'description', :content => 'Learn Ruby with the EdgeCase Ruby Koans' }
    %meta{ :name => 'keywords',    :content => 'ruby' }
    %meta{ :name => 'apple-mobile-web-app-capable',          :content => 'yes' }
    %meta{ :name => 'apple-mobile-web-app-status-bar-style', :content => 'black' }
    %link{ :rel  => 'apple-touch-icon', :href => '/apple_favicon.png' }
    %link{ :rel  => 'shortcut icon',    :href => '/favicon.ico', :type => 'image/x-icon' }
    :css
      html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,em,img,q,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{        margin:0;        padding:0;        border:0;        outline:0;        font-weight:inherit;        font-style:inherit;        font-size:100%;        font-family:inherit;        vertical-align:baseline}      body{line-height:1;color:#000;background:#fff}      table{border-collapse:separate;border-spacing:0}      caption,th,td{text-align:left;font-weight:normal}      blockquote:before,blockquote:after,q:before,q:after{content:""}      blockquote,q{quotes:""""}      a img,input[type="image"]{border:none}      .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}      * html .clearfix{        height:1%}      .clear{clear:both}      nav{display:block}      body{        font-family:'OFL Sorts Mill Goudy','sorts-mill-goudy-1','sorts-mill-goudy-2',serif;        background :#fff}      #top_line{        position  :fixed;        top       :0;        right     :0;        left      :0;        height    :6px;        background:#e70800;        z-index   :2}      h1,h2,h3{color:#e70800}      h1{font-size:64px}      h2{font-size:28px;background:url(/images/header_line.gif) repeat-x 0 50%} h2 span{background:#fff;padding-right:12px} h3{font-size:20px;margin-top:40px} .clear{clear:both;height:0}       #sidebar{        position:fixed;        left    :800px;        top     :30px;        width   :250px;        padding :50px 0 0 0}      body.small #sidebar{        position:static}      #edgecase_logo{        display    :block;        width      :250px;        height     :79px;        margin     :40px 0 0 0;        text-indent:-999em;        background :url(/images/edgecase_logo.gif) no-repeat 10px} #main_content #download_button{ display :block; height :40px; margin :0 auto 30px auto; padding :0px; color :#fff; font-size :14px; letter-spacing :1px; line-height :42px; text-align :center; text-decoration:none; text-transform :uppercase; background-color:#d00; background-image:-moz-linear-gradient(top,#FB746F,#d00); background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#d00),color-stop(1,#FB746F)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d00',endColorstr='#FB746F'); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#d00',endColorstr='#FB746F')"; -moz-border-radius :4px; -webkit-border-radius:4px; border-radius :4px} #main_content #download_button:active{ background-image:-moz-linear-gradient(top,#d00,#E15C56); background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#E15C56),color-stop(1,#d00)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E15C56',endColorstr='#d00'); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E15C56',endColorstr='#d00')"} #sidebar nav{ width :250px; margin :0 auto; font-size :12px; line-height :26px; text-transform:uppercase} #sidebar nav ol{ clear:left; list-style-position:outside; padding:7px 12px 5px 20px; background-color:#f3f3f3; -moz-border-radius-bottomleft :4px; -moz-border-radius-bottomright :4px; -webkit-border-bottom-left-radius :4px; -webkit-border-bottom-left-radius :4px; border-bottom-right-radius :4px; border-bottom-right-radius :4px} #sidebar nav.windows ol{ -moz-border-radius-topleft :4px; -webkit-border-top-left-radius:4px; border-top-left-radius :4px} #sidebar nav.nix ol{ -moz-border-radius-topright :4px; -webkit-border-top-right-radius:4px; border-top-right-radius :4px} #main_content #sidebar nav li{ margin :0 0 0 10px; border-bottom:1px solid #ddd; font-size :13px} #main_content #sidebar nav li:last-child{border-bottom:0} #sidebar nav a{ display :block; color :black; font-size :11px; text-decoration:none} #sidebar nav a.tab{ float :left; width :115px; height :28px; padding-left:10px; color :#e70800; font-size :13px; line-height :32px; -moz-border-radius-topleft :4px; -moz-border-radius-topright :4px; -webkit-border-top-left-radius :4px; -webkit-border-top-right-radius:4px; border-top-left-radius :4px; border-top-right-radius :4px} #sidebar nav a.tab.active{background-color:#f3f3f3}  #main_content{ width :600px; margin :0; padding:36px 60px 30px 60px} #main_content section{ clear :both; display :block; margin-bottom:25px; padding-top :65px} #main_content .koanaons_sections_section div{margin:20px 0} #main_content a{color:#e70800} #main_content ul{ list-style-type :circle; list-style-position:inside; margin-left :20px} #main_content ul li, #main_content ol li{margin-bottom:0.5em} #main_content p{ margin :20px 0; font-size :18px; color :#333; line-height:25px} #main_content p.instructions_message{ margin-top :0; margin-left:0; color :#666; font-size :14px; font-style :italic; line-height:24px} #main_content p.instructions_message a{color:#f54d47} .terminal,.editor{ padding :5px 10px; background-color:black; background-image:-moz-linear-gradient(top,#000,#444); background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#444),color-stop(1,#000))} #main_content .terminal p,#main_content .editor p{ margin :10px 0; color :#fff; font-family:monaco,monospace; font-size :14px}       #main_content #introduction{        position      :relative;        top           :20px;        width         :690px;        margin-bottom :20px;        padding-top   :0;        padding-bottom:106px;        background    :url(/images/enso.gif) no-repeat 91% 0} #main_content #introduction h1{ margin-bottom:45px; padding-top :24px} #main_content #introduction h1 span{ display :block; margin :10px 0 0 0; color :#444; font-size :16px; letter-spacing:3px; text-transform:uppercase} #main_content #introduction p{ width :600px; color :#555; font-size :21px; line-height:35px; text-align :justify}  #main_content #the_structure img{ float :left; margin:20px 30px 30px 0}  #main_content #authors p{ float:left; width:275px}  #main_content #other_resources{margin-bottom:0}  #main_content #inspiration p a, #main_content #other_resources p a{line-height:16px;text-decoration:none} #main_content #other_resources a span, #main_content #inspiration a span{ display :block; color :#555; font-style :italic; text-decoration:none} #mountains{ padding-top:3em; color :#9b9b9b; font-size :24px} @media all and (max-device-width:480px){ body{-webkit-text-stroke:0 black} #top_line{position:absolute} h2{font-size:38pt}  #main_content #sidebar{ position:relative; left :auto; top :auto; width :auto; margin :0 5% 20px 5%} #sidebar nav{ width :auto; line-height:30pt; font-size :14pt} #sidebar ol{list-style-type:none} #sidebar nav li{font-size:16pt} #sidebar nav a{font-size:18pt} #sidebar nav a.tab{ width :20%; height :40pt; font-size :21pt; line-height:40pt}  #main_content{ width :100%; margin :0; padding:0} #main_content section{margin:0 5%} #main_content #introduction{ width:auto; margin-bottom:0; padding:10px 0 20px 0; background-position:100% 30%} #main_content #introduction h1{font-size:72pt} #main_content #introduction h1 span{font-size:24pt} #main_content #introduction p{ width :100%; font-size :24pt; line-height:35pt} #main_content p{ font-size :24px; line-height:130%} } @media all and (min-device-width:768px) and (max-device-width:1024px){ #main_content #introduction h1 span{font-size:14pt !important} #top_line{position:absolute} h2{font-size:30pt}  #main_content #sidebar{ position:relative; left :auto; top :auto; width :auto; margin :0 40px 80px 40px} #sidebar nav{ width :auto; line-height:30pt; font-size :14pt} #sidebar nav li{font-size:16pt} #sidebar nav a{font-size:16pt} #sidebar nav a.tab{ width :20%; height :40pt; font-size :19pt; line-height:40pt} #download_button{display:none !important}  #main_content{ width :100%; margin :0; padding:0} #main_content section{margin:0 5%} #main_content #introduction{ width:auto; margin-bottom:0; padding:10px 0 60px 0; background-position:100% 30%} #main_content #introduction h1{font-size:64pt} #main_content #introduction h1 span{font-size:20pt} #main_content #introduction p{ width :100%; font-size :18pt; line-height:35pt} }

    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
    :javascript
      function iPhone(){ return (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)); }
      function setBodyClass(){ document.body.className = (document.documentElement.clientWidth<=940) ? 'small' : 'large'; }

      (function($){
        $.extend(jQuery.easing,{
          easeInOutExpo: function (x, t, b, c, d) {
            if (t==0) return b;
            if (t==d) return b+c;
            if ((t/=d/2) < 1) return c/2 * Math.pow(2, 10 * (t - 1)) + b;
            return c/2 * (-Math.pow(2, -10 * --t) + 2) + b;
          }
        });

        $.fn.boldSelectedElement = function(i) {
          $(this).css('font-weight', 'normal').eq(i).css('font-weight', 'bold');
        };

        $.fn.highlightVisibleAnchor = function() {
          var $this = $(this),
              anchors = $this.map(function() {return $(this).attr('href'); }),
              anchorPositions = $.map(anchors, function(a){return $(a).offset().top; });

          function currentIndex(sections) {
            var scrollPosition = $(window).scrollTop(),
                i=0,
                inSection = false;

            while(!inSection) {
              i++;
              if(sections[i-1] > scrollPosition) {
                i = 1;
                inSection = true;
              } else if (i >  sections[sections.length-1]) {
                i = sections.length;
                inSection = true;
              } else {
                inSection = sections[i-1] <= scrollPosition && scrollPosition < sections[i];
              }
            }

            return i-1;
          }

          $(this).boldSelectedElement(currentIndex(anchorPositions));

          $(window).scroll(function() {
            $this.boldSelectedElement(currentIndex(anchorPositions));
          });
        };


        $.fn.scrollToAnchor = function() {
          return this.click(function(e) {
            if(iPhone()) { return; }

            e.preventDefault();
            var targetSection = $($(this).attr('href'));
            var scrollTo      = targetSection.offset().top;
            $('html,body').animate({scrollTop: scrollTo}, 350, 'easeInOutExpo');
          });
        };


        $(function(){
          setBodyClass();
          $(window).resize(setBodyClass);
          $('#sidebar ol a').scrollToAnchor().highlightVisibleAnchor();

          $('.email_address').each(function() {
            var address   = $(this).text().replace(' [at] ', '@').replace(' [dot] ', '.');
            var emailLink = '<a href="mailto:' + address + '">' + address + '</a>';

            $(this).replaceWith(emailLink);
          });
        });
      })(jQuery);
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/bsl0mwg.js' }
    %script{ :type => 'text/javascript' } try{Typekit.load();}catch(e){}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body
    #top_line
    #main_content
      = yield

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18201694-1']);
        _gaq.push(['_setDomainName', '.rubykoans.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
