!!! 5
%html
  %head
    %title Learn Ruby with the New Context Ruby Koans
    %meta{ :name => 'description', :content => 'Learn Ruby with the New Context Ruby Koans' }
    %meta{ :name => 'keywords',    :content => 'ruby' }
    %meta{ :name => 'apple-mobile-web-app-capable',          :content => 'yes' }
    %meta{ :name => 'apple-mobile-web-app-status-bar-style', :content => 'black' }
    %meta{ :name => 'viewport',                              :content => 'width=device-width', :'initial-scale' => '1.0' }
    %meta{ :'http-equiv' => 'X-UA-Compatible',               :content => 'IE=edge,chrome=1' }
    %link{ :rel  => 'apple-touch-icon', :href => '/apple_favicon.png' }
    %link{ :rel  => 'shortcut icon',    :href => '/favicon.ico', :type => 'image/x-icon' }
    %link{ :rel  => 'stylesheet',       :href => '/stylesheets/screen.css' }

    %script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    :javascript
      function iPhone(){ return (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)); }

      (function($){
        $.extend(jQuery.easing,{
          easeInOutExpo: function (x, t, b, c, d) {
            if (t==0) return b;
            if (t==d) return b+c;
            if ((t/=d/2) < 1) return c/2 * Math.pow(2, 10 * (t - 1)) + b;
            return c/2 * (-Math.pow(2, -10 * --t) + 2) + b;
          }
        });

        /*
        $.fn.boldSelectedElement = function(i) {
          $(this).css('font-weight', 'normal').eq(i).css('font-weight', 'bold');
        };

        $.fn.highlightVisibleAnchor = function() {
          var $this = $(this),
              anchors = $this.map(function() {return $(this).attr('href'); }),
              anchorPositions = $.map(anchors, function(a){return $(a).offset().top; });

          function currentIndex(sections) {
            var scrollPosition = $(window).scrollTop(),
                i=0,
                inSection = false;

            while(!inSection) {
              i++;
              if(sections[i-1] > scrollPosition) {
                i = 1;
                inSection = true;
              } else if (i >  sections[sections.length-1]) {
                i = sections.length;
                inSection = true;
              } else {
                inSection = sections[i-1] <= scrollPosition && scrollPosition < sections[i];
              }
            }

            return i-1;
          }

          $(this).boldSelectedElement(currentIndex(anchorPositions));

          $(window).scroll(function() {
            $this.boldSelectedElement(currentIndex(anchorPositions));
          });
        };
        */


        $.fn.scrollToAnchor = function() {
          return this.click(function(e) {
            if(iPhone()) { return; }

            e.preventDefault();
            var targetSection = $($(this).attr('href'));
            var scrollTo      = targetSection.offset().top;
            $('html,body').animate({scrollTop: scrollTo}, 350, 'easeInOutExpo');
          });
        };


        $(function(){
          $('#sidebar ol a').scrollToAnchor();//.highlightVisibleAnchor();

          $('.email_address').each(function() {
            var address   = $(this).text().replace(' [at] ', '@').replace(' [dot] ', '.');
            var emailLink = '<a href="mailto:' + address + '">' + address + '</a>';

            $(this).replaceWith(emailLink);
          });
        });
      })(jQuery);
    %script{ :type => 'text/javascript', :src => 'http://use.typekit.com/bsl0mwg.js' }
    %script{ :type => 'text/javascript' } try{Typekit.load();}catch(e){}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body
    #top_line
    #main_content
      = yield

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18201694-1']);
        _gaq.push(['_setDomainName', '.rubykoans.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
