%section#new_context
  %h2 <span>We Provide Private Training</span>
  %p Neo helps organizations access the full potential of the latest technologies and methodologies by offering structured training in areas such as Git, Ruby, Ruby on Rails, and Agile development. We specialize in building better software and staying on top of rapidly changing technologies. Let us bring that expertise to your business. 
  %p
    %a(href='http://neo.com' target='_blank')
      %img(src='/images/neo.png')
