%section#other_resources
  %h2 <span>Other Resources</span>
  %p
    %a{:href => 'http://github.com/edgecase/ruby_koans', :target => '_blank'}
      Edgecase Ruby Koans on Github
      %span github.com/edgecase/ruby_koans
  %p
    %a{:href => 'http://ruby-lang.org', :target => '_blank'}
      The Ruby Language
      %span ruby-lang.org
  %p 
    %a{:href => 'https://ruby.github.io/TryRuby/', :target => '_blank'}
      Try Ruby in your browser
      %span ruby.github.io/TryRuby
  %p 
    %a{:href => 'https://pragprog.com/book/ruby4/programming-ruby-1-9-2-0', :target => '_blank'}
      Dave Thomas' introduction to Ruby Programming
      %span pragprog.com/book/ruby4/programming-ruby-1-9-2-0
  %p
    %a{:href => 'http://pragmaticstudio.com/ruby', :target => '_blank'}
      The Pragmatic Studio Ruby Programming Online Course
      %span pragmaticstudio.com/ruby
  %p
    %a{:href => 'http://pragprog.com/titles/bmsft/everyday-scripting-with-ruby', :target => '_blank'}
      Brian Marick's fantastic guide for beginners: Everyday Scripting with Ruby	
      %span pragprog.com/titles/bmsft/everyday-scripting-with-ruby
