#sidebar
  %a.main_button(href='https://github.com/downloads/edgecase/ruby_koans/rubykoans-2012-02-02.zip') download the koans
  %a.main_button(href='/online') ruby koans online

  %nav(class=@page)
    %a.tab{ :class => ('active' if @page == 'nix' ),    :href => '/' } *nix
    %a.tab{ :class => ('active' if @page == 'windows'), :href => '/windows' } windows
    %ol
      %li
        %a(href='#main_content') introduction
      %li
        %a(href='#the_structure') the structure
      %li
        %a(href='#installing_ruby') installing ruby
      %li
        %a(href='#what_editors') what editors can i use?
      %li
        %a(href='#the_path') the path to enlightenment
      %li
        %a(href='#authors') authors
      %li
        %a(href='#cc') license
      %li
        %a(href='#edgecase') private training
      %li
        %a(href='#inspiration') inspiration
      %li
        %a(href='#other_resources') other resources

  %a(href='http://edgecase.com' target='_blank' id='edgecase_logo') Brought to you by EdgeCase
