html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .clearfix {
  height: 1%; }

.clear {
  clear: both; }

body {
  font-family: "sorts-mill-goudy", serif;
  background: #fff; }

#top_line {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background: #e70800;
  z-index: 2; }

h1, h2, h3 {
  color: #e70800; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 28px;
  background: url(/images/header_line.gif) repeat-x 0 50%; }

h2 span {
  padding-right: 12px;
  background: #fff; }

h3 {
  margin-top: 40px;
  font-size: 20px; }

/*-- Sidebar ---------------------------------------------------------------------- */
#sidebar {
  position: fixed;
  left: 800px;
  top: 30px;
  width: 250px;
  padding: 50px 0 0 0; }

#edgecase_logo {
  display: block;
  width: 232px;
  height: 65px;
  margin: 40px auto 0 auto;
  text-indent: -999em;
  background: url(/images/edgecase_logo.gif) no-repeat; }

#main_content .main_button {
  display: block;
  height: 40px;
  margin: 0 auto 30px auto;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiNzQ2ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fb746f), color-stop(100%, #dd0000));
  background: -moz-linear-gradient(#fb746f, #dd0000);
  background: -webkit-linear-gradient(#fb746f, #dd0000);
  background: linear-gradient(#fb746f, #dd0000);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb746f', EndColorStr='#dd0000'); }
  #main_content .main_button:active {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxNWM1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e15c56), color-stop(100%, #dd0000));
    background: -moz-linear-gradient(#e15c56, #dd0000);
    background: -webkit-linear-gradient(#e15c56, #dd0000);
    background: linear-gradient(#e15c56, #dd0000);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); }

#sidebar nav {
  width: 250px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase; }
  #sidebar nav li {
    margin: 0 0 0 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px; }
  #sidebar nav li:last-child {
    border-bottom: 0; }
  #sidebar nav a {
    display: block;
    color: black;
    font-size: 11px;
    text-decoration: none; }
  #sidebar nav a.tab {
    float: left;
    width: 115px;
    height: 28px;
    padding-left: 10px;
    color: #e70800;
    font-size: 13px;
    line-height: 32px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
  #sidebar nav a.tab.active {
    background-color: #f3f3f3; }
  #sidebar nav ol {
    clear: left;
    padding: 7px 12px 5px 2px;
    list-style-position: outside;
    background-color: #f3f3f3;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px; }
    #sidebar nav ol.windows ol {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px; }
    #sidebar nav ol.nix ol {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px; }

/*-- Main Content ---------------------------------------------------------------- */
#main_content {
  width: 600px;
  margin: 0;
  padding: 36px 60px 30px 60px; }
  #main_content section {
    clear: both;
    display: block;
    margin-bottom: 25px;
    padding-top: 65px; }

#main_content .koanaons_sections_section div {
  margin: 20px 0; }

#main_content a {
  color: #e70800; }

#main_content ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 20px; }

#main_content ul li,
#main_content ol li {
  margin-bottom: 0.5em; }

#main_content p {
  margin: 20px 0;
  font-size: 18px;
  color: #333;
  line-height: 25px; }

#main_content p.instructions_message {
  margin-top: 0;
  margin-left: 0;
  color: #666;
  font-size: 14px;
  font-style: italic;
  line-height: 24px; }

#main_content p.instructions_message a {
  color: #f54d47; }

.terminal, .editor {
  padding: 5px 10px;
  background: #333;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #000000));
  background: -moz-linear-gradient(#444444, #000000);
  background: -webkit-linear-gradient(#444444, #000000);
  background: linear-gradient(#444444, #000000); }

#main_content .terminal p,
#main_content .editor p {
  margin: 10px 0;
  color: #fff;
  font-family: monaco, monospace;
  font-size: 14px; }

/*-- Introduction Section ------------------------------------------------------------- */
#main_content #introduction {
  position: relative;
  top: 20px;
  width: 690px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 106px;
  background: url(/images/enso.gif) no-repeat 91% 0; }
  #main_content #introduction h1 {
    margin-bottom: 45px;
    padding-top: 24px; }
    #main_content #introduction h1 span {
      display: block;
      margin: 10px 0 0 0;
      color: #444;
      font-size: 16px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  #main_content #introduction p {
    width: 600px;
    color: #555;
    font-size: 21px;
    line-height: 35px;
    text-align: justify; }

/*-- Structure Section ---------------------------------------------------------------- */
#main_content #the_structure img {
  float: left;
  margin: 20px 30px 30px 0; }

/*-- Contact Section ------------------------------------------------------------------ */
#main_content #contact p {
  float: left;
  width: 275px; }

/*-- Other Resources Section ---------------------------------------------------------- */
#main_content #other_resources {
  margin-bottom: 0; }

/*-- Private Training ----------------------------------------------------------------- */
/*-- Inspiration and Other Resources Section ------------------------------------------ */
#main_content #inspiration p a,
#main_content #other_resources p a {
  line-height: 16px;
  text-decoration: none; }

#main_content #other_resources a span,
#main_content #inspiration a span {
  display: block;
  color: #555;
  font-style: italic;
  text-decoration: none; }

#mountains {
  padding-top: 3em;
  color: #9b9b9b;
  font-size: 24px; }

@media all and (max-width: 1060px) {
  #sidebar {
    position: static;
    width: 500px;
    margin: 0 auto; }
    #sidebar nav {
      width: auto;
      padding-top: 20px; }
      #sidebar nav ol {
        overflow: hidden; }
      #sidebar nav li {
        float: left;
        width: 48%; }

  #main_content {
    margin: 0 auto; }
    #main_content .main_button {
      margin-bottom: 20px; } }
@media all and (max-width: 650px) {
  #main_content {
    width: 90%;
    margin: 0 auto;
    padding: 0; }
    #main_content #introduction {
      width: auto;
      background-position: 50% 50%;
      background-size: 100%; }
      #main_content #introduction p {
        width: 100%;
        line-height: 130%; }
    #main_content #the_structure img {
      display: none; }

  #sidebar {
    width: 90%; }
    #sidebar nav li {
      width: 47%; }
  }
